# Next.js and build outputs
.next
out
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env.*
!.env.example

.unlighthouse/
cypress/downloads/

styleLintReport.json

tsconfig.tsbuildinfo
