#bio {
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;

  #social-links-bio {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;

    img {
      height: 35px;
    }
  }
}
