#profile-container {
  margin: 0 auto;
  text-align: center;

  #bio-avatar {
    margin: 0 auto;
  }

  #bio {
    margin-bottom: 1.5em;

    svg {
      margin-right: 0.2em;
      width: 20px;
    }

    > * {
      display: flex;
      justify-content: center;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
