#profile {
  justify-content: center;

  #bio-avatar {
    margin: 0 auto;
  }

  #bio {
    margin-bottom: 1.5em;

    svg {
      margin-right: 0.2em;
      width: 20px;
    }

    > * {
      display: flex;
      justify-content: center;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    #social-links {
      display: flex;
      flex-direction: row;

      @media (width >= 600px) and (width <= 1250px) {
        flex-wrap: wrap;
        > * {
          flex: 1 1 50%;
        }
      }

      .social-link {
        img {
          border-radius: 50%;
        }
      }
    }
  }
}
