.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;

  @media (min-width: 601px) {
    width: 90%;
  }

  @media (min-width: 993px) {
    width: 80%;
  }
}

.button {
  cursor: pointer;
  border-radius: 3px;
  padding: 0.7rem 2.5rem;
  border: none;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background: #0074d9;

  &:focus {
    outline: none;
  }

  &:disabled {
    background: gray;
  }
  &.secondary {
    background: #001f3f;
  }
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #6c63ff;
  padding: 0.8rem 1rem;
  border-radius: 7px;
  margin-bottom: 0.5rem;
  transition: 0.3s;

  &::placeholder {
    color: #a7a7a7;
  }

  &.error {
    border-color: #ff4136;
  }
}

.titleWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  padding: 1rem;
  height: 100%;
  &.light {
    background: '#fff';
  }
  &.dark {
    background: '#181717';
  }
}
