.skill-block {
  display: flex;
  flex-direction: row;
  border: 2px solid #1f5099;

  .skill-title {
    flex-basis: 20%;
    border-right: 1px solid #1f5099;
    background-color: #96c5d4;
  }

  .skills-list {
    flex-basis: 80%;
    background-color: #a8c9d4;
  }
}

#techno-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid black;

  @media (width <= 600px) {
    flex-direction: column;
  }

  > * {
    width: 100%;
    border: 2px solid black;
  }

  h4 {
    text-align: center;

    @media (width <= 600px) {
      text-align: left;
    }
  }

  .language-list-container > span {
    display: flex;
    flex-wrap: wrap;

    > * {
      margin: 0 5px;
    }
  }
}
