@use "assets/colors.scss" as *;

#site-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  #fixed-header {
    position: sticky;
    top: 0;
    flex: 0 0 4.5rem;
    z-index: 9999;
    background-color: $header-background-color;
  }

  #site-body {
    display: flex;
    padding: 2em 5em;
    flex: 1 0 calc(100% - 4.5rem);
    overflow-y: auto;

    #profile-container {
      flex: 0 1 20%;
    }

    #site-page {
      display: flex;
      flex-direction: column;
      flex: 0 0 80%;
      padding: 0 5%;
      justify-content: space-between;

      &.blog-view {
        max-width: 80%;
      }

      #site-content {
        display: flex;
        flex-direction: column;

        #page-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: first baseline;
        }

        #page-description {
          margin-top: 1em;
          margin-bottom: 3em;
        }
      }

      footer {
        margin-top: 2em;
      }
    }
  }
}

@media (width <= 700px) {
  #site-container {
    #site-body {
      flex-direction: column;
      padding: 1em 1em 2em;

      #profile-container {
        flex-basis: 10%;

        &.blog-view {
          display: none;
        }

        #profile {
          gap: 0.5em;
          display: grid;
          justify-items: center;

          #bio,
          .social-link > span {
            display: none;
          }

          #social-links {
            flex-direction: row;
            justify-content: center;
            gap: 1em;
          }
        }
      }

      #site-page {
        margin-top: 2em;
        padding: 0.2em;
        max-width: 100%;
        flex-basis: 90%;

        &.blog-view {
          max-width: 100%;
        }

        #site-content {
          padding: 0 1em;

          #page-header {
            margin-top: 0;
          }

          #page-description {
            margin: 0.5em 0 2em;
          }
        }
      }
    }
  }
}
