.repository-widget-container {
  .repository-icons-container {
    margin-top: 1em;

    .repository-icons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .languages-container {
    display: flex;
    flex-direction: row;

    :first-child {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    :last-child {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}
