/* CSS Custom Properties Definitions */

body,
.v-application {
  font-size: 1rem;
  color: #2e353f;
  background-color: $body-background-color !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.025em;
}

a {
  color: #005b99;
}
