@import '../../styles/colors';

#portfolio-header {
  height: 100%;
  display: flex;
  flex-direction: row;

  a {
    color: $header-text-color;
    text-decoration: none;
  }

  #header-title {
    flex: 1 0 50%;
    display: flex;

    h1 {
      place-self: center;
      margin: 0 auto;
      font-size: x-large;
    }
  }

  #url-list {
    flex: 1 1 50%;
    justify-content: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 2em auto 0;
    gap: 0.5em;

    a {
      &:hover {
        background-color: white;
      }
    }
  }
}
