@import '../../styles/colors';

#portfolio-header {
  display: flex;
  flex-direction: row;

  > * {
    width: 100%;
  }

  #header-title {
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
    margin-left: 15vw;

    h1 {
      margin: 0;
      font-size: xx-large;
    }
  }

  #url-list {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 5vw;

    a {
      height: 100%;
      place-content: center;
      display: inline-grid;
      margin: auto 0.7em;

      span {
        place-content: center;
      }

      &:hover {
        background-color: white;
      }
    }

    @media (width <= 500px) {
      flex-direction: column;
    }
  }

  a {
    color: $header-text-color;
    text-decoration: none;
  }
}
