@import '../../styles/colors';

#portfolio-header {
  height: 100%;
  display: flex;
  flex-direction: row;

  a {
    color: $header-text-color;
    text-decoration: none;
  }

  #header-title {
    flex: 1 0 50%;
    display: flex;

    h1 {
      margin: auto 2em;
      font-size: x-large;
    }
  }

  #url-list {
    flex: 1 1 50%;
    justify-content: right;
    display: flex;
    flex-flow: row wrap;
    margin: auto 2em auto 0;
    gap: 0.5em;

    @media (width <=450px) {
      display: grid;
      grid-template-columns: 35% 35%;
    }

    a {
      &:hover {
        background-color: white;
      }
    }
  }
}
