@import '../../styles/colors';

#portfolio-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  a {
    color: $header-text-color;
    text-decoration: none;
  }

  #header-title {
    display: flex;

    h1 {
      margin: auto 0 auto 5em;
      font-size: x-large;

      @media (width <=500px) {
        margin-left: 2em;
      }
    }
  }

  #url-list {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: auto 5% auto 0;
    gap: 0.5em;
    place-content: center;

    @media (width <=500px) {
      display: flex;
      flex-flow: row wrap;
      margin-right: 0;
      height: initial;
    }

    @media (width <=750px) {
      height: initial;
    }

    > * {
      display: flex;
      align-items: center;
      height: 100%;

      @media (width <=750px) {
        height: initial;
      }

      svg {
        margin-right: 0.2em;
      }

      &.active {
        background-color: #8bb3cc;
      }

      &:hover {
        background-color: white;
      }
    }
  }
}
