@import "../../styles/colors.scss";

#portfolio-header {
  background-color: $header-background-color;
  margin-bottom: 1.45rem;

  #header-title {
    max-width: 960px;
    padding: 1.45rem 1.0875rem;

    h1 {
      margin: 0;
    }
  }

  a {
    color: $header-text-color;
    text-decoration: none;
  }
}
