@import '../../styles/colors';

#portfolio-header {
  height: 100%;
  display: flex;
  flex-direction: row;

  a {
    color: $header-text-color;
    text-decoration: none;
  }

  #header-title {
    display: flex;
    flex: 1 1 50%;

    h1 {
      margin: auto 0 auto 5em;
      font-size: x-large;

      @media (width <=500px) {
        margin-left: 2em;
      }
    }
  }

  #url-list {
    flex: 1 1 50%;
    justify-content: right;
    display: flex;
    flex-flow: row wrap;
    margin: auto 10% auto 0;
    gap: 0.5em 0;
    height: 100%;

    @media (width <=500px) {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      margin-right: 0;
    }

    > * {
      display: flex;
      align-items: center;
      padding: 0 1em;
      margin: 0 auto;

      &.active {
        background-color: #8bb3cc;
      }

      &:hover {
        background-color: white;
      }
    }
  }
}
