#job-list,
#formation-list,
#hobbies-list {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

#certifications-list,
#skills-title,
#hobbies-title {
  margin-top: 1em;
}

.detail-block-title {
  margin: auto;
}
