#cv-page {
  display: flex;
  flex-direction: column;
  row-gap: 2em;

  #jobs-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #cv-download-button {
      height: min-content;
    }
  }

  #job-list,
  #formation-list,
  #hobbies-list {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }

  #certifications-detail-list {
    > div {
      display: flex;
      flex-direction: row;
      column-gap: 2em;
      margin : auto 0;
      padding: 0.5em 0;

      > * {
        flex-basis: 50%;
        margin: auto 0;
      }
  
      .certifications-logos {
        display: flex;
        flex-direction: row;
        column-gap: 1em;
      }
    }    
  }
}
