@import '../../styles/colors';

#home-page {
  #description {
    margin-top: 1em;
  }

  #site-content {
    margin-top: 3em;

    a {
      color: black;
    }
  }

  #sneaky-button {
    a {
      text-decoration: none;
    }

    position: absolute;
    transition: 0.3s;
    z-index: 999999;
  }

  #blog-title {
    margin-top: 2em;
  }

  ol {
    list-style-type: none;
  }
}
