#projects-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 5em 3em;
  margin-top: 2em;

  > * {
    flex-basis: calc(50% - 1.5em);

    @media (width <=850px) {
      flex-basis: 100%;
    }
  }
}
