#certifications-list {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.certifications-logos {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1em;
  justify-content: space-evenly;

  @media (width <= 1050px) {
    i {
      max-width: 330px;
    }
  }

  > * {
    place-content: center;
    align-items: center;
    display: flex;
  }
}
