.experience-block {
  header {
    color: blue;
    font-size: 20px;
  }

  .skill-block {
    color: blue;
    margin: 0 5px 0 5px;
    padding: 2px;
    border: 1px solid blue;
    border-radius: 7px;
  }
}
