@import '../../../styles/colors';

.job-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  row-gap: 1.5em;
  height: 100%;
  width: 100%;

  .job-period {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .job-name {
    img {
      max-height: 100px;
      max-width: 130px;
    }
  }

  .job-location {
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }
}

.job-details-content {
  .job-description {
    white-space: pre-line;
  }

  h3 {
    text-align: center;
  }
}

@media (width < 850px) {
  .job-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;

    .job-period {
      grid-column: span 1;
      grid-row: span 2;
    }
  }
}
