@import '../../../styles/colors';

.job-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  height: 100%;
  width: 100%;

  .job-name {
    img {
      max-height: 100px;
      max-width: 130px;
    }
  }

  a {
    text-decoration: none;
  }
}

.job-details-content {
  .job-description {
    white-space: pre-line;
  }
}
