@import '../../../styles/colors';

.job-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;

  .job-name {
    margin: auto;

    img {
      max-height: 100px;
      max-width: 130px;
    }
  }

  a {
    text-decoration: none;
  }
}

.job-details-content {
  margin: 0.5em;

  .job-description {
    white-space: pre-line;
  }
}
